body {
    display: fixed;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(88, 222, 255);
    padding: 20px;
    max-width: 400px;
    z-index: 1;
    text-align: justify;
    border-radius: 20px;
}

.popup h2 {
    font-size: 40px;
    margin-top: 0;
}

.popup ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 32px;
    line-height: 1.5;
}

.popup button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #00158b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#miniwar{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 50px;
} 

#mini{
    display: inline-block;
    color: rgb(255, 255, 255);
}

#war{
    display: inline-block;
    color: rgb(139, 24, 24);
}

#botoes{
    color: white;
    font-size: 45px;
    background-color: rgb(39, 68, 39);
    border-radius: 10px;
    border: 0;
    padding: 10px 60px;
}

button{
    color: azure;
    font-size: 30px;
    background-color: rgb(59, 55, 55);
    border-radius: 10px;
    border: 0;
    padding: 10px 60px;
    margin: 45px;
}

button:hover, .active {
    background-color:#ff0000;
}

.tank {
    position: absolute;
    width: 50px;
    height: 30px;
    background-color: rgb(12, 126, 12);
}
canvas {
    border: 3px solid black;
    border-radius: 40px;
    display: block;
    background-color: rgb(192, 189, 24);
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: px;
}